pycuda
pillow
onnx==1.5.0
onnxruntime==0.5.0
pandas==0.24.2
tqdm==4.31.1
ascii-graph==1.5.1
wrapt==1.10.11
librosa
toml
soundfile
ipdb
sox
matplotlib
numpy
inflect
scipy
Unidecode
git+git://github.com/NVIDIA/dllogger.git@26a0f8f1958de2c0c460925ff6102a4d2486d6cc#egg=dllogger
